* {
    margin: 0;
    padding: 0;
  }
  .main_div {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr) ) ;
    /* grid-template-columns: repeat(4,1fr); */
    /* border: 2px solid red */
  }
  .imges {
    height: 350px;
    margin:2px;
    width: 300px;
    /* border:1px solid black; */
    box-shadow: rgba(17, 17, 26, 0.1) 0px 4px 16px, rgba(17, 17, 26, 0.05) 0px 8px 32px;
  }
  
  .btn{
       width: 80px;
      height: 50px;
      /*background-color: blueviolet; */
      /* border:2px solid black; */
      border-radius: 5px;
      background-color: aqua;
      margin: 10px;
      box-shadow: rgba(50, 50, 105, 0.15) 0px 2px 5px 0px, rgba(0, 0, 0, 0.05) 0px 1px 1px 0px;
  
  }
  h4,h5,h3{
      text-align: center;
  }
  .total_item{
    display: flex;
    border:2px solid black;
  }
  